@import '../../../../styles';

.container {
    @include respond-to(large) {
        height: 45px;
    }

    &Item {
        margin: 0 5px;
        transition: background-color .3s, color .3s;
        border-radius: 8px;
        opacity: .8;
        font-weight: 600;
        text-align: center;

        @include respond-to(medium) {
            text-align: start;
        }
    }
}