@import '../../../../styles';

.container {
    padding-bottom: 0 !important;

    @include respond-to(medium) {
        padding-bottom: 12px !important;
    }

    @include respond-to(large) {
        order: 1 !important;
        padding-top: 40px !important;
    }

    @include respond-to(xLarge) {
        padding-top: 70px !important;
    }
}