@import '../../../../styles';

.container {
    width: 100%;
    background-color: $backgroundCherry;
    padding: 15px 10px;

    @include respond-to(medium) {
        padding: 20px 0;
    }

    &Content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        @include respond-to(small) {
            flex-direction: row;
        }
    }
}

.text {
    color: white;
    font-weight: 600;
    margin: 0 10px;
    text-transform: none !important;
}

.button {
    color: $primaryBrown !important;

    &Icon {
        margin: 0 10px 2px 0;
    }

    &Text {
        text-transform: none;
    }
}
