@import './breakpoints.scss';

// Layout
@mixin sectionContainer {
    @include respond-to(small) {
        padding: 2em;
    }

    @include respond-to(large) {
        padding: 4em 6em;
    }

    @include respond-to(xLargeBulma) {
        padding: 6em 10em;
    }
}

// Typography
@mixin transparentTextHeavy {
    opacity: .4;
    font-weight: 600;
}

@mixin transparentTextLight {
    opacity: .4;
    font-weight: 400;
}

@mixin opaqueTextHeavy {
    opacity: .7;
    font-weight: 600;
}

@mixin opaqueTextLight {
    opacity: .7;
    font-weight: 400;
}

@mixin descriptionText {
    font-size: .75rem;

    @include respond-to(medium) {
        font-size: .85rem;
    }
}

// Inputs
@mixin outlinedButton {
    background-color: white !important;
    color: inherit !important;
}

// Animations
@mixin animateColorChange {
    transition: color .3s;
}