@import '../../../../styles';

.container {
    position: relative !important;
    z-index: -1;
    
    &Img {
        flex-wrap: wrap;
        justify-content: center;

        @include respond-to(xLarge) {
            justify-content: space-around;
        }
    }
}

.item {
    width: 200px;
    height: 100px;
    max-width: 200px;
    margin-top: 20px;

    &Img {
        width: 100%;
    }
}