@import '../../../../styles';

.link, .linkGrouped {
    position: relative;
    color: white !important;
    @include opaqueTextLight;
    transition: all .3s;
    font-size: 1rem !important;
    margin-bottom: 5px !important;

    @include respond-to(medium) {
        font-size: .85rem !important;
    }

    @include respond-to(xxLarge) {
        font-size: 1rem !important;
    }

    &:hover {
        color: $primaryOrange !important;
        opacity: 1 !important;
    }

    &Icon, &IconSpecial {
        position: absolute;
        left: 5px;
        top: 3px;
    }

    &IconSpecial {
        top: 10px;
    }
}

.text {
    color: white !important;
    margin-bottom: 5px !important;
}

.spaced {
    padding-left: 30px;
}