@import '../../../../../styles';

.card {
    margin: 40px 10px;
    padding: 20px !important;
    border-radius: 10px;
    background-color: rgba($backgroundCherryRGB, .9);
    box-shadow: 2px 2px 5px black;

    @include respond-to(small) {
        margin: 40px;
        padding: 30px !important;
    }

    @include respond-to(xLarge) {
        margin: 100px 0 60px 5%;
    }
}

.text {
    color: white !important;
    margin-bottom: 40px;
}

.author {
    display: flex;
    direction: row;
    align-items: center;

    &Img {
        border-radius: 50%;
        box-shadow: 0 0 5px $primaryYellow;
    }

    &Description {
        margin-left: 20px;

        &Name {
            color: white !important;
            margin-bottom: 40px !important;
        }

        &Position {
            color: $primaryYellow !important;
            @include opaqueTextHeavy;
        }
    }
}
