@import '../../../../../../styles';

.container {
    display: flex !important;
    flex-direction: row;
    justify-content: center;

    @include respond-to(medium) {
        justify-content: flex-start;
    }
}

.text {
    text-transform: none !important;
}

.outlinedButton {
    @include outlinedButton;
}