@import '../../../../styles';

.container {
    color: $primaryBrown !important;
}

.title, .subtitle {
    text-align: center;
}

.subtitle {
    @include opaqueTextHeavy;
}

.description {
    max-width: 800px;
}