@import '../../../styles';

.container {
    color: white !important;
}

.image {
    width: 270px;
    border-radius: 30px;
    background-color: $lightGray2;
    margin: 0 auto 5px;

    @include respond-to(small) {
        margin: 0 0 5px;
    }

    &Inner {
        margin: 5px 35px;
    }
}

.header {
    margin-bottom: 30px;

    &Content {
        @include opaqueTextLight;
    }
}

.newsfeed {
    &Title {
        color: white !important;
    }
    
    &Content {
        @include opaqueTextLight;
    }
}