@import '../../../../../styles';

.container {
    transform: translateY(-50px);
    opacity: 0;
    transition: all .75s cubic-bezier(.37,1.07,.4,.97);

    @include respond-to(large) {
        order: 2 !important;
    }
}

.isVisible {
    opacity: 1;
    transform: translateY(0);  
}

.image {
    max-width: 300px;
    margin: 0 auto;

    @include respond-to(xLarge) {
        max-width: 350px;
    }
}