@import '../../../styles';

.container {
    width: 100%;
    box-shadow: 0 3px 5px $lightGray2;
    transition: height .3s, width .3s;

    @include respond-to(medium) {
        padding: 10px 0;
    }

    @include respond-to(large) {
        align-items: center !important;
        width: 1024px;
        box-shadow: none;
    }

    @include respond-to(xLarge) {
        width: 1200px;
        height: 140px;
    }

    @include respond-to(xxLarge) {
        width: 1350px;
    }
}